<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Check In</title>
</head>
<body>
  <h1>Employees Index</h1>
  <p>
    <label for="text">#ID EMPLOYEE</label>
    <input type="text">
    <button>Check In</button> <br>

    <button><%= link_to "Admin view", administrators_path%></button>
  </p>

  <h2>Employees List</h2>
  <%= link_to "New", new_employee_path, class: "btn btn-primary"%>
<%= render "list"%>


</body>
</html>