<body>
  <div class="text">
    Company View
  </div>
  <div class="buttons">
    <%= link_to "New", new_company_path, class: "btn btn-primary btn-lg"%>
    <%= link_to "Back", administrators_path, class: "btn btn-info btn-lg" %>
  </div>

  <%= render "list" %>
</body>