  <table>
    <thead>
      <tr>
        <th>idAdmin</th>
        <th>nameAdmin</th>
        <th>emailAdmin</th>
        <th>password</th>
      </tr>
    </thead>
    <tbody>
      <% @administrators.each do |administrator| %>
        <tr>
          <td>
            <%= administrator.id %>
          </td>
          <td>
            <%= administrator.name_admin %>
          </td>
          <td>
            <%= administrator.email_admin %>
          </td>
          <td>
            <%= administrator.password %>
          </td>
          <td>
            <% end %>
    </tbody>
  </table>