  <h1>Foo Corp</h1>
  <p>
    <label for="text">#ID EMPLOYEE</label>
    <input type="text">
    <button>Check In</button> <br>

    <%= link_to "Log in", administrators_validation_path, class: "btn btn-primary" %>
  </p>