  <h1>Log In Admin</h1>
  <div>
    <label for="text">#ID Admin</label>
    <input type="text">
  </div>
  <div>
    <label for="text">Password</label>
    <input type="text">
  </div>
  <div>
    <%= link_to "Log in", administrators_path, class: "btn btn-primary" %>
    </div>
    <div>
    <%= link_to "Back", root_path, class: "btn btn-info" %>
    </div>
