<h1>Report View</h1>

<div>
  <%= link_to "Day", administrators_path, class: "btn btn-success" %>
  <%= link_to "Month", administrators_path, class: "btn btn-success" %>
  <%= link_to "Check In/Out Average", administrators_path, class: "btn btn-success" %>
</div>
<%= link_to "Back", administrators_path, class: "btn btn-info" %>