<div class="text">
Today's Report
</div>
<div class="buttons">
<%= link_to "Back", reports_path, class: "btn btn-info" %>
</div>
<div id="table">
<table class="table table-striped">
    <thead class="thead-ligth">
      <tr>
        <th class="col">Check In</th>
        <th class="col">Check Out</th>
        <th class="col">Employee Private Number</th>
      </tr>
    </thead>
    <tbody>
      <% get_reports().each do |report| %>
        <% if exist_reports_today(report).nil? %>
          <%not_reports()%>
        <%else%>
          <tr>
            <td>
              <%= "#{report.check_in.strftime('%d-%B-%Y')}  #{report.check_in.strftime('%R')} "%>
            </td>
            <td>
              <%= check_out_exist(report) %>
            </td>
            <td>
              <%= report.employee_id %>
            </td>
          </tr>
        <%end%>
      <%end%>
    </tbody>
  </table>
</div>
