<%= link_to "back", reports_path, class: "btn btn-info" %>

<table>
    <thead>
      <tr>
        <th>Id</th>
      </tr>
    </thead>
    <tbody>
      <% @reports = Report.all %>
      <% @reports.each do |report| %>
        <tr>
          <td>
            <%= report.id %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>