<div class="text">
  <div class="mb-5">
    Average Check In
    <div>
    <%= average_check_in() %>
    </div>
  </div>

  <div>
    Average Check Out
    
    <div>
      <%= average_check_out() %>
    </div>
  </div>  
</div>
<div class="buttons">
  <%= link_to "Back", reports_path, class: "btn btn-info" %>
</div>
