<%= link_to "back", reports_path, class: "btn btn-info" %>
<div>
  <div>
    <h3> Average Check In</h3>

    <h4><%= average_check_in() %></h4>
  </div>
  
  <div>
    <h3> Average Check Out</h3>
    
    <h4><%= average_check_out() %></h4>
  </div>  
</div>